pkgbase = microsoft-edge-stable
	pkgdesc = Microsoft Edge Web Browser
	pkgver = 96.0.1054.62
	pkgrel = 1
	url = https://www.microsoft.com/edge/
	arch = x86_64
	license = GPL3
	depends = ca-certificates
	depends = gtk3
	depends = libcups
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = ttf-liberation
	options = !strip
	source = microsoft-edge-stable_96.0.1054.62-1_amd64.deb::https://packages.microsoft.com/repos/edge/pool/main/m/microsoft-edge-stable/microsoft-edge-stable_96.0.1054.62-1_amd64.deb
	sha256sums = ad34c76b232ce0bd4960025a1875651f916eb3814d89f385573973d0c91473e3

pkgname = microsoft-edge-stable
