pkgbase = microsoft-edge-stable
	pkgdesc = Microsoft Edge Web Browser
	pkgver = 98.0.1108.50
	pkgrel = 1
	url = https://www.microsoft.com/edge/
	arch = x86_64
	license = GPL3
	depends = ca-certificates
	depends = gtk3
	depends = libcups
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = ttf-liberation
	options = !strip
	source = microsoft-edge-stable_98.0.1108.50-1_amd64.deb::https://packages.microsoft.com/repos/edge/pool/main/m/microsoft-edge-stable/microsoft-edge-stable_98.0.1108.50-1_amd64.deb
	sha256sums = ee7f53a3cfe92009d51ee80ace3c20fbaa2a5f2760bc04fba02552fbcd7c96b4

pkgname = microsoft-edge-stable
