pkgbase = navicat15-premium-cs
	pkgdesc = Navicat Premium is a multi-connection database development tool. (Chinese Simplified)
	pkgver = 15.0.30
	pkgrel = 1
	url = https://www.navicat.com/en/navicat-15-highlights
	arch = x86_64
	license = GPL3
	options = !strip
	source = navicat15-premium-cs-15.0.30.AppImage::http://richiemay.ga/patched/navicat15-premium-cs-15.0.30-patched.AppImage
	source = https://archive.archlinux.org/packages/g/glib2/glib2-2.68.4-1-x86_64.pkg.tar.zst
	source = navicat15.desktop
	sha256sums = 2dcf2656a3586e52fee633baca306bda9f4903af946b7d07eb8d9b3fac45eaa5
	sha256sums = e8e759bd9abb58c93067e199088077f3d6fa2c608ebc6f571cb9dd814812bcea
	sha256sums = 67c2a775e4b7d510596af036caa4938b6d0fac54e6df5a7c43ca909e0322f13e

pkgname = navicat15-premium-cs
