pkgbase = intellij-idea-ultimate-without-jbr
	pkgdesc = Intellij Idea Ultimate Without Jbr
	pkgver = 2021.3
	pkgrel = 1
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	license = GPL3
	depends = java-runtime>=11
	conflicts = intellij-idea-ultimate-with-jbr
	conflicts = intellij-idea-ultimate-edition
	conflicts = intellij-idea-ultimate-edition-jre
	options = !strip
	source = ideaIU-2021.3-no-jbr.tar.gz::https://download.jetbrains.com/idea/ideaIU-2021.3-no-jbr.tar.gz
	source = intellij-idea-ultimate.desktop
	source = ActivationCode.txt
	source = FineAgent.jar
	sha256sums = 0b46ebb2381bd587bbec9d15ff78f11380bcf2654c0716c0caf747550ee73c66
	sha256sums = a8a31e45e8abed10f71c3e948064fe7258dc9cb3d60d6f48de7b009b05625f88
	sha256sums = 105a542f0e0614b652ab6b53e9e7693969916f2172fc31dfba1b37f920a8bbe6
	sha256sums = 6c32e36008a8dd0a0cd196f16630d7cb6b1bb12a70dc50826656e047e648ef4b

pkgname = intellij-idea-ultimate-without-jbr
